<% if @reservation.not_attending %>
    <div class="col-sm-offset-1">We are sorry you wont be able to make it.</div>
<% else %>
    <div class="col-sm-offset-1">Thank you for your reservation. We look forward to seeing you at the event.</div>
<% end %>