<h1>Users <%= link_to 'Add New', new_user_path, class: 'btn btn-success'%></h1>

<table class="table">
  <% @users.each do |user| %>
  <tr>
    <td><%= user.first_name %> <%= user.last_name%></td>
  </tr>
  <% end %>
</table>
