<div class="contact-block">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-1">
    <p>Please only RSVP for the allotted guests indicated in the invitation</p>
      </div>
    </div>
  <%= form_for @reservation, url: {controller: 'reservations', action: 'create'} do |f| %>
    <div class="row">
      <div class="col-sm-4 col-sm-offset-1">
        <div class="form-group">
          <%= f.text_field :name, class: 'form-control', id: 'name', placeholder: 'Name' %>
        </div>
        <div class="form-group">
          <%= f.select :party_size, options_for_select([['Number in Party', ''],['One Guest', '1'],['Two Guests', '2']]), {}, id: 'numberOfGuest' %>
        </div>
      </div>
      <div class="col-sm-4 col-sm-offset-1">
        <div class="form-group">
          <%= f.submit 'submit', class: 'btn default-btn btn-block' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
