<div class="person" id="<%= f.index %>">
  <div class="row rsvp-row">
    <div class="col-sm-9 col-sm-offset-1">
      <div class="col-sm-8">Name</div>
      <div class="col-sm-5 col-sm-offset-1"><%= f.text_field :first_name, placeholder: 'First Name', class: 'form-control' %></div>
      <div class="col-sm-5"><%= f.text_field :last_name, placeholder: 'Last Name', class: 'form-control' %></div>
    </div>
  </div>
  <div class="row rsvp-row">
    <div class="col-sm-9 col-sm-offset-1">
      <div class="col-sm-8">Meal</div>
      <div class="col-sm-8 col-sm-offset-1"><%= f.collection_select(:meal_id, Meal.where(customer_id: session[:customer_id]), :id, :name, {}, {class: 'form-control'}) %></div>
    </div>
  </div>
</div>