<div class="col-sm-offset-2 col-sm-4">
  <table class="table table-hover">
    <tr>
      <th class="text-center"><%= @reservation.companion.full_name %></th>
    </tr>
    <tr>
      <td class="text-center"><%= @reservation.companion.meal.name %></td>
    </tr>
  </table>
</div>