<h1>Confirmed Reservations</h1>
<p>We wont show this once we go live, but here you can see all the reservations.</p>
<table>
  <thead>
  <tr>
    <th>Customer ID</th>
    <th>Name</th>
    <th>Reservation Date</th>
  </tr>
  </thead>
  <tbody>
  <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.customer_id %></td>
        <td><%= link_to  reservation.name, reservation %></td>
        <td><%= reservation.created_at %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<br>
<%= link_to( 'Go Back to the Page', static_pages_home_url) %>