<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body bgcolor="#8d8e90">
Hello <%= @reservation.persons.first.full_name %>,
&nbsp;&nbsp;Thanks for sending us your RSVP. We are looking forward to enjoying the evening with you. The wedding ceremony will begin promptly
at 4:30PM on October 22, 2016. Afterwards, we look forward to celebrating at the cocktail hour at 5:30PM and the reception at 6:30PM.

Love,
Wassef Tawachi and Adriana Orozco
</body>
</html>