/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */


.disabled-field {
    border: 0;
}

.rsvp-row {
    margin-top: 10px;
}

.registry-image {
    width: 100%;
    height: auto;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.grid-square {
    width:50px;
    height:50px;
    display: inline-block;
    border: 1px solid #dddddd;
    padding: 0;
    font-size: 0px;

}
.floor {
    margin-right: 31px;
    padding-bottom: 40px;
    width: 550px;
    border: 1px solid #aaaaaa;
    font-size: 0px;
}

div#droppable { width: 150px; height: 150px; padding: 0.5em; float: left; margin: 10px; border: 2px solid}
div#draggable, div#draggable-nonvalid { width: 100px; height: 100px; padding: 0.5em;border:2px solid;}



