<h1>Support Tickets for <%= session[:customer_name] %></h1>
<%= link_to 'Add New', new_support_ticket_path, class: 'btn btn-success', type: 'button' %>
<table class="table table-hover">
  <tbody>
  <% @tickets.each do |ticket| %>
      <tr>
        <td><%= link_to  ticket.title, support_ticket_path(ticket) %></td>
        <td><%= link_to  'Close', ticket, method: :delete, data: {confirm: 'Are you sure?'}  %></td>
      </tr>
  <% end %>
  </tbody>
</table>