<% if true %>
    <div class='container' style='margin-top: 15px'>
      <%= session[:customer_id] %>
      <%= session[:user_id] %>
      <%= debug(params)%>
      <%= debug session %>
    </div>
        <div class='container'>
        </div>
<% end %>